.title {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
  font-size: xx-large;
  font-weight: 600;
  padding: 10px;
  color: #f8f0fb;
  border-bottom: solid 2px #6320ee;
}
