.headerClass {
  display: flex;
  background-color: #f8f0fb;
  height: 8dvh;
  align-items: center;
  gap: 1rem;
}

.headerButton {
  cursor: pointer;
  height: 3rem;
  font-size: large;
}

.headerButton:hover {
  background-color: rgba(128, 117, 255, 0.5);
}

.footerText {
  display: flex;
  background-color: #f8f0fb;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-family: var(--font-fredoka);
  height: 4dvh;
  font-size: large;
}

.footerLink {
  color: #6320ee;
  margin-left: 5px;
}

.textSection {
  background-color: #211a1d;
  color: #f8f0fb;
  font-family: var(--font-fredoka);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.introText {
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 10px;
}

.accorDian {
  font-size: 1.5rem;
}

.accordContent {
  font-size: 1.3rem;
}
